.hero {
    padding-top: 2rem;

    .sub-head {
        text-align: center;
        margin-top: 0.5rem;
    }

    .hero-cta {
        margin-top: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;

        a:last-child {
            margin-left: 1.25rem;
        }
    }
}

.features {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    // grid-row-gap: 2.5rem;
    grid-column-gap: 2rem;

    @media @tablet {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;

        div {
            &:first-child {
                margin-bottom: 0.85rem;
            }
        }
    }
}

.testimonial {
    margin-top: 3rem;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        width: 25%;
        margin-right: 3rem;
    }

    .quote {
        margin-bottom: 1.5rem;
    }

    .testimonial-name {
        font-size: 0.85rem;
    }

    @media @tablet {
        flex-direction: column-reverse;

        .testmonial-text {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .testimonial-name {
            font-size: 1rem;
        }

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

}