header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.15rem;
    nav {

        ul {
            display: flex;

            li {
                margin-left: 2rem;
            }
        }
    }
}